/* https://www.cssscript.com/create-a-multi-level-drop-down-menu-with-pure-css/ */

body {
  margin: 0px;
  height: 100%;
  font-family: sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #a5a5a5;
}

ul li {
  display: block;
  position: relative;
  float: left;
  background: #a5a5a5;
}

li ul { display: none; }

ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
}

ul.main-navigation>li>a:hover { background: #2c3e50; }


li.open > ul {
  display: block;
  position: absolute;
  min-width: 200px;
}

li.open li { float: none; }

li.open a { background: #a5a5a5; }

li.open li a.hovered { background: #2c3e50; }

.main-navigation li ul li { border-top: 0; }

.main-navigation li ul a img {
  height: 16px;
  position: absolute;
  right: 10px;
  top: 17px;
}

ul ul ul {
  left: 100%;
  top: 0;
}

ul:before,
ul:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

ul:after { clear: both; }

a.fav {
  background: #aa5cdb !important;
}

a.fav.hovered {
  background: #2c3e50 !important;
}

ul {
  opacity: 0.9;
}

.bubble {
  position: absolute;
  background: #381451;
  width: 200px;
  height: 200px;
  border-radius: 200px;
}
